<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.home.sewright22.bg_control"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.JournalEntryDetailsActivity"/>
        <activity android:name=".Activity.CreateNewJournalEntryActivity"/>

        <receiver android:name=".BroadcastReceiver.NotificationPublisher">
            <intent-filter>
                <action android:name="com.home.sewright22.bg_control">
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadcastReceiver.BG_EstimateReceiver" android:exported="true" >
            <intent-filter> <action android:name="com.eveningoutpost.dexdrip.BgEstimate" /> </intent-filter>
        </receiver>


        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".Activity.FoodListResultActivity"
            android:label="@string/title_activity_food_list_result"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
